{% extends "base.jinja" %}

{% block title %}Bloomed{% endblock %}

{% block content %}
<h1>Bloomed!!</h1>
<a href="/stop"><button type="button" class="btn btn-danger btn-lg">Stop!</button></a>
{% endblock %}
