{% extends "base.jinja" %}

{% block title %}Bloom{% endblock %}

{% block content %}
<h1>Bloom!</h1>
<a href="/bloom"><button type="button" class="btn btn-primary btn-lg">Bloom!</button></a>
{% endblock %}
